<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Practice Makes Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
			<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
				<link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

	
<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Practice Makes Python</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">CS 1301 (Change Class)</a>
              </li>
              <li class="">
                <a href="./getting-started.html">Problem Sets</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">My Progress</a>
              </li>
			</ul>
			<div style="float:right;">
				<ul class="nav">
				  <li class="">
					<a href="./base-css.html"><i class="icon-wrench"></i> Settings</a>
				  </li>
				  <li class="">
					<a href="./base-css.html">Logout</a>
				  </li>
				</ul>
			</div>
			<div style="float:right; color:#AAAAAA; padding:10px 0px">Hi, John Doe!</div>
          </div>
		  
        </div>
      </div>
    </div>
	
	
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>CS 1301 Create/Edit Problem Set</h1>
    <p class="lead"></p>
  </div>
</header>



    <div class="container">
		<h4>Name</h4>
		<input type="text" placeholder="Problem Set 1">
		<br/><br/>

		<br/>
		
		<h3>Unlock Prerequisites</h3>
		<hr style="background:#74CC31; border:0; height:7px; width: 800px" />
		
		<table class="table table-striped" style="width:800px;">
			<tr>
				<th> Problem Type </th>
				<th> Number of Problems Required </th>
				<th></th>
			</tr>
			<tr>
				<td> Loops </td>
				<td>
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</td>
				<td><i class="icon-pencil"></i><button class="close">&times;</button> </td>
			</tr>
			<tr>
				<td> Variable Assignment </td>
				<td>
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</td>
				<td><i class="icon-pencil"></i><button class="close">&times;</button> </td>
			</tr>
			
		</table>
		
		<br/>
		<h3>Add Problems (optional)</h3>
		<hr style="background:#74CC31; border:0; height:7px; width: 800px" />
		
		<div style="width:800px;">
			<table class="table table-striped">
				<tr><td><input type="checkbox"> Problem 102 <button class="close">&times;</button> </td></tr>
				<tr><td><p><input type="checkbox"> Problem 267 <button class="close">&times;</button> </td></tr>
				<tr><td><input type="checkbox"> <input class="input-xxlarge" type="text" placeholder="Type to Search"> <button class="close">&times;</button> </td></tr>
			</table>
			
		</div>
		<button class="btn" type="button">Add</button>
		<button class="btn" type="button">Remove</button>
		<button class="btn" type="button">Move</button>
		<button class="btn" type="button">Select All</button>
	
	<br/><br/><br/>
	<button class="btn btn-large btn-success" type="button">Save</button>
	<button class="btn btn-large" type="button">Return to Class Without Saving</button>
    </div> <!-- /container -->
<br/><br/><br/><br/><br/><br/><br/>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
