<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Practice Makes Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
	<link href="../prettify/distrib/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
			<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
				<link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

	
<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Practice Makes Python</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">CS 1301 (Change Class)</a>
              </li>
              <li class="">
                <a href="./getting-started.html">Problem Sets</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">My Progress</a>
              </li>
			</ul>
			<div style="float:right;">
				<ul class="nav">
				  <li class="">
					<a href="./base-css.html"><i class="icon-wrench"></i> Settings</a>
				  </li>
				  <li class="">
					<a href="./base-css.html">Logout</a>
				  </li>
				</ul>
			</div>
			<div style="float:right; color:#AAAAAA; padding:10px 0px">Hi, John Doe!</div>
          </div>
		  
        </div>
      </div>
    </div>
	
	
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Problem 159</h1>
    <p class="lead">Problem Set 1</p>
  </div>
</header>



<!-- Body -->
<div class="container">
	<div style="float:left; width:12%; padding: 5px;">
		<p><button class="btn btn-block" type="button"><i class="icon-comment"></i> Share</button></p>
		<p><button class="btn btn-block" type="button"><i class="icon-envelope"></i> Email Instructor</button></p>
		<p><button class="btn btn-block" type="button"><i class="icon-warning-sign"></i> Report</button></p>
	</div>
	<div class="well" style="float:left; width:83%">
		<p>
			Write a function <code>foo(bar)</code> that does something completely random.  Use the following as an example.
		</p>
		<pre class="prettyprint linenums">
function foo(bar):
	#
	return other
		</pre>
		
	</div>
	
</div>
<div class="container">
	<div style="float:left; width:12%; padding: 5px;">
		<br/><br/><br/><br/><br/>
		<p><button class="btn btn-block btn-success" type="button"><i class="icon-play"></i> Run</button></p>
		<br/>
		<p><button class="btn btn-block" type="button"><i class="icon-refresh"></i> Restart</button></p>
		<p><button class="btn btn-block" type="button"><i class="icon-file"></i> Ctrl-C</button></p>
		<p><button class="btn btn-block" type="button"><i class="icon-folder-open"></i> Filesystem</button></p>
	</div>
	<div style="float:left; width:86%">
		<hr style="background:#74CC31; border:0; height:7px" />
		<h3>Your Code Here</h3>
		<textarea rows=12 style="width:99%;font-family:'Courier New', monospace;"></textarea>
		<div style="float:left; width:43%;padding:10px;">
		<h4>Test Output Area</h4>
		<pre class="prettyprint linenums">
foo(7)
12
foo(49)
54
foo(-5)
0
		</pre>
		</div>
		<div style="float:left; width:43%; padding:10px">
		<h4>Sample Output</h4>
		<pre class="prettyprint linenums">
foo(7)
14
foo(49)
98
foo(-5)
-10
		</pre>
		</div>
	</div>
</div>

<div class="container">
	<br/>
	<div style="float:right;">
	<button class="btn btn-primary btn-large" type="button">Submit</button>
	</div>
	<br/><br/>
	Footer<br/>
</div>

<!-- /Body -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
	
	<script type="text/javascript" src="../prettify/distrib/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="../prettify/js-modules/numberLines.js"></script>
	
	
  </body>
</html>
