<h3>Registration Complete</h3>

<p>
    Your email has been successfully confirmed, and you're now ready to start using Practice Makes Python! <br />
    Follow the link below to login. <br /><br />
    @Html.ActionLink("Login to Get Started", "Login", "Account")
</p>
