<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="DefaultConnection" connectionString ="Server=tcp:zcm2garak5.database.windows.net;Database=red-inc_db;User ID=red-inc-admin@zcm2garak5;Password=CS4911team18;Trusted_Connection=False;Encrypt=True;" />
  </connectionStrings>
</configuration>