@model core.Modules.Class.ClassData

@{
    ViewBag.Title = "Create New Class";
}

@using (Html.BeginForm("NewClass")) {
@Html.ValidationSummary(true)

<fieldset>
    <legend>New Class</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}