@model core.Modules.ProblemSet.ProblemSetData

@{
    ViewBag.Title = "Edit Problem Set";
}

<h2>Edit Problem Set</h2>

@using (Html.BeginForm("EditProblemSet", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        <input type="submit" value="Save Name" />
    </fieldset>
}