@model core.Modules.ProblemSet.ProblemSetData
<tr class="set-row" style="width:inherit;">
    @using(Html.BeginCollectionItem("Sets"))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Name);
        <td>
            @Html.ActionLink(Model.Name, "Edit", "ProblemSet", new { classId = Model.Class.Id, id = Model.Id }, null)
        </td>
        <td>
            <button class="deleteSet">X</button>
        </td>
    }    
</tr>
