@model IEnumerable<core.Modules.ProblemSet.ProblemSetData>

@{
    ViewBag.Title = "Instructor Class Home";
}

<h2>Instructor Class Home</h2>

@Html.ActionLink("New Problem Set", "Edit", "ProblemSet")
@Html.ActionLink("New Problem", "Edit", "Problem")
<br /><br />

<table>
    @foreach (var set in Model)
    {
        <tr><td>
        @Html.ActionLink(set.Name, "Edit", "ProblemSet", new { id = set.Id }, null)
        </td></tr>
    }
</table>
